.centerpiece {
    height: 50%;
    margin: 20% auto;
}

#chooser-button-div {
    width: 55%;
    margin: 20px auto;
}

#chooser-output {
    width: 100%;
    margin: 20px auto;
}

.chooser-attr-output-div {
    float: left;
    clear: left;
    text-align: right;
    white-space: nowrap;
    width: 25%;
    margin: 0 1%;
}

.chooser-value-output-div {
    float: left;
    margin: 0 1%;
    max-width: 70%;
    white-space: normal;
}
